@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;

}

body{
    font-family: 'poppins',sans-serif;
    color:var(--primary-text-color)
}

h1{
    font-size: 3rem;


}
h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25;
    color:var(--secondary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;

}


/* Utility Classes */
.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}


.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}

.flex{
    display: flex;
    align-items:center;
}

.hover-links{
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}

.hover-links:hover{
    color: var(--accent-color);
}
/* Primary Button */
.primary-button{
    background-color: var(--primary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color:whitesmoke !important;
    padding:12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}
.primary-button:hover{
    background-color: var(--accent-color-dark);
}

/* Secondary button */
.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}

.secondary-button:hover{
    border-color: var(--primary-text-color);
    color: var(--accent-color) !important;
}

/* Top Banner */
.top-banner{
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}

.banner-text{
    color: whitesmoke;
    padding: 15px 30px;
    text-align: center;
}

.main-nav{
    justify-content: space-between;
}

.company-logo img{
    width: 90px;

}

.nav-links{
    flex-basis: 730px;
}

.nav-links ul{
    justify-content: end;
    gap:40px;
}

/* Header Section */
.header{
    padding: 0 var(--padding-inline-section) 0;

}

.header-section{
    justify-content: center;
    justify-content: space-between;
}

.header-left{
    max-width: 60;
}

.header-left h1{
    margin-top: 20px;

}

.header-right img{
    width: 600px;
}

.get-started-btn{
    margin-top:20px;
}

.companies-hdr{
    text-align: center;
    margin-block:30px;
    color:var(--primary-text-color)
}



.comp-logo{
    height: 75px;
}

.companies-logos{
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Features Section */

.features-section{
    padding: 80px var(--padding-inline-section) 0;
    /* background-image: url(/Images/main-logo.png); */
    background-repeat: no-repeat;
    background-position: center;

}

.features-hdr{
    text-align: center;

}

.features-hdr h2{
    margin-bottom: 25px;
}

.features-area{
    margin-top: 45px;
}

.features-card{
    flex-direction: column;
    max-width: 30%;
    margin-top: 45px;
    gap: 20px;
   
    text-align: center;
}

.features-area{
    flex-wrap: wrap;
    justify-content: space-between;
}

.features-card img{
    max-width: 15%;
}

big-feature-section{
    padding:30px var(--padding-inline-section) 0;
}

.big-feature-container{
    gap: 30px;
}

.feature-img img{
    width: 600px;
}



.features-description{
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    margin-right: 20px;
}

.examples-hdr{
    text-align: center;
}

/* Example Section */

.examples-hdr{
    text-align: center;
    margin-top: 35px;
}

.examples-hdr a{
    margin-top: 20px;
}

.examples-card{
    width: 23%;
    position: relative;
    min-height: 300px;
    background: black;
    transition: 0.2s ease-out;

}

.examples-card:nth-child(1){
    background:linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)), url(/Images/ex-\ \(1\).jpg);
    background-size: cover;
}

.examples-card:nth-child(2){
    background:linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)), url(/Images/ex-\ \(2\).jpg);
    background-size: cover;
}

.examples-card:nth-child(3){
    background:linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)), url(/Images/ex-\ \(3\).jpg);
    background-size: cover;
}

.examples-card:nth-child(4){
    background:linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)), url(/Images/ex-\ \(4\).jpg);
    background-size: cover;
}

.examples-card:hover{
    box-shadow: 0 0 10px #888;
}
.card-text{
    position: absolute;
    bottom: 20px;
    left:20px;
    right: 20px;
    color:whitesmoke;
}

.examples-area{
    justify-content: space-between;
    margin-block: 20px;
}

.cta-section-container{
    flex-direction: column;
    gap: 30px;
    color: whitesmoke;
}

.cta-section{
    background-color: #183b56;
    padding: 80px var(--padding-inline-section) 80px;

}

.cta-section-container p{
    color: whitesmoke;
    margin-top: 20px;

}

/* Footer */
footer{
    padding-block: 70px;
    background-color: #ebf2fa;
}

.comp-logo-footer{
    height: 75px;
}

.link-column{
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.footer-container{
    align-items: flex-start;
    justify-content: space-between;
}

/* Sub footer */

.subfooter{
    background-color: #b9cde4;
    padding: var(--padding-inline-section);
}

.sub-footer-container{
    justify-content: center;
    gap:30px;

}

.hover-links img{
    width: 18px;
}

 